* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
background-color: #CF83D8
}

h1 {
    font-family: Playfair;
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
    margin-left: 15%;
    margin-right: 15%;
}

h2 {
    font-family: Playfair;
    text-align: center;
    margin-top: 3rem;
    margin-left: 10%;
    margin-right: 10%;
}

button {
    padding: 20px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
    justify-content: center;
    display: flex;
}


a {
    font-family: Playfair;
    font-size: 2rem;
    text-align: center;
    color: #65066B;
}